<!DOCTYPE html>
<html lang="cat">

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Horari de Asix2 Joan</title>
        <meta name="author" content="Joan">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./../css/colors.css">
    </head>
    <body>
        <header>
            <h1>Horari ASIX2</h1>
        </header>

        <table border="1">
            <tr>
                <th>Hora</th>
                <th>Dilluns</th>
                <th>Dimarts</th>
                <th>Dimecres</th>
                <th>Dijous</th>
                <th>Divendres</th>
            </tr>
            <tr>
                <td>14:30-15:00</td>
                <td></td>
                <td></td>
                <td class="plan">
                    0370. (Plan. XX)<br>
                    Aula 9<br>
                    Sergi<br>
                </td>
                <td class="plan" rowspan="2">
                    0370. (Plan. XX)<br>
                    Aula 9<br>
                    Sergi<br>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>15:00-16:00</td>
                <td class="angles">
                    0179. (ANG)<br>
                    Aula 9<br>
                    Carles<br>
                </td>
                <td class="plan">
                    0370. (Plan. XX)<br>
                    Aula 9<br>
                    Sergi<br>
                </td>
                <td class="php" rowspan="2">
                    0376. (PHP)<br>
                    Aula 9<br>
                    Porti<br>
                </td>
                <!-- rowspan fila anterior -->
                <td></td>
            </tr>
            <tr>
                <td>16:00-17:00</td>
                <td class="seg">
                    0378. (SEG)<br>
                    Aula 9<br>
                    Josep<br>
                </td>
                <td class="seg">
                    0378. (SEG)<br>
                    Aula 9<br>
                    Josep<br>
                </td>
                <!-- rowspan fila anterior -->
                <td class="bd" rowspan="2">
                    0377. / 1708.<br>
                    Aula 10<br>
                    Porti<br>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>17:00-18:00</td>
                <td class="tutoria">
                    Tutoria<br>
                    Aula 9<br>
                    Josep<br>
                </td>
                <td class="proj">
                    0379. (Proj)<br>
                    Aula 9<br>
                    Carles<br>
                </td>
                <td class="angles">
                    0179. (ANG)<br>
                    Aula 9<br>
                    Carles<br>
                </td>
                <!-- rowspan fila anterior -->
                <td></td>
            </tr>
            <tr>
                <td class="descans">Descans</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>18:30-19:30</td>
                <td class="proj" rowspan="2">
                    0379. (Proj)<br>
                    Aula 9<br>
                    Carles<br>
                </td>
                <td class="web" rowspan="2">
                    0373. (WEB)<br>
                    Aula 9<br>
                    Josep<br>
                </td>
                <td class="plan">
                    0370. (Plan. XX)<br>
                    Aula 9<br>
                    Sergi<br>
                </td>
                <td class="proj" rowspan="2">
                    0379. (Proj)<br>
                    Aula 9<br>
                    Carles<br>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>19:30-20:30</td>
                <!-- rowspan fila anterior -->
                <!-- rowspan fila anterior -->
                <td class="proj">
                    0379. (Proj)<br>
                    Aula 9<br>
                    Carles<br>
                </td>
                <!-- rowspan fila anterior -->
                <td></td>
            </tr>
        </table>
    </body>
</html>